.progressBar {
  width: 6rem;
  height: 0.375rem;
  border-radius: 9999px;
  background-color: rgba(34, 197, 94, 0.2);
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
}

.progressBar::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 9999px;
}

.progressBar::-webkit-progress-value {
  background-color: #16a34a;
  border-radius: 9999px;
}

.progressBar::-moz-progress-bar {
  background-color: #16a34a;
  border-radius: 9999px;
}
